# Configuration files
config.py

# Virtual environment
venv/

# Compiled Python files
*.pyc
*.pyo
__pycache__/


# Ignore the entire instance folder
instance/

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db



# Environment variables
.env

# Elastic Beanstalk metadata
.elasticbeanstalk/

# Local test databases
*.sqlite3

